body {
    position: relative;
    width: 1380px;
    height: 2550px;
    background: #00FFD1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1290px;
    height: 90px;
    left: 75px;
    top: 50px;
    margin-left: 50px;
}

.title {
    width: 441px;
    height: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 70px;
    padding: 0px 40px 0px 20px;
    color: #000000;
    padding-right: 115px;
}

.cart {
    width: 129px;
    height: 90px;
}

.cartt {
    cursor: pointer;
    width: 129px;
    height: 90px;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan {
    position: absolute;
    width: 721px;
    height: 316px;
    left: 70px;
    top: 239px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 60px;
    line-height: 79px;
    text-align: justify;
    color: #000000;
}

.subslogan {
    position: absolute;
    width: 736px;
    height: 88px;
    left: 70px;
    top: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;
    color: #000000;
}

.online {
    position: absolute;
    width: 404px;
    height: 404px;
    left: 900px;
    top: 160px;
}

.page {
    position: absolute;
    width: 140px;
    height: 110px;
    left: 1200px;
    top: 580px;
}

#course {
    left: 1100px;
    top: 820px;
}

#contact {
    left: 1202px;
    top: 2319px;
}

.contacto {
    position: absolute;
    width: 1224px;
    height: 558px;
    left: 80px;
    top: 1700px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 544px;
    height: 466px;
    left: 740px;
    top: 40px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 0.02em;
    color: #000000;
}

.apply {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    margin-top: -20px;
    color: #000000;
}

.btnn {
    cursor: pointer;
    position: absolute;
    width: 544px;
    height: 80px;
    top: 425px;
    background: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 10px;
    letter-spacing: 0.06em;
    color: #00FFD1;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1290px;
    height: 90px;
    left: 75px;
    top: 2450px;
}

.logo {
    padding-right: 252px;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    position: absolute;
    left: 55%;
    top: 47%;
    transform: translate(-50%, -50%);
}

.main-section {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.product-container {
    max-width: 1600px;
    margin: auto;
    width: 88vw;
    position: relative;
}

.main-section h3 {
    font-size: 1.3rem;
    padding: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 10px;
}

.product {
    position: relative;
    text-align: center;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 0px;

}

.product-under {
    width: 100%;
    height: 100%;
}

.product-over {
    z-index: 10;
    position: absolute;
    left: -15%;
    top: -12%;
    width: 160%;
    height: 120%;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: show_top;
    animation-duration: 1s;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

@keyframes show_top {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn {
    background-color: #96c8cc;
    padding: 15px 50px 15px 30px;
    color: #141414;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
}

.btn:active {
    box-shadow: none;
}

.btn-small {
    border: none;
    width: 50%;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px #02b392;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-small:hover {
    background-color: #02b392;
    color: white;
}

.addToCart {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.product-image:hover .product-over {
    display: flex;
    flex-direction: column;
}

.product-image {
    position: relative;
    height: 50%;
    background-color: transparent;
}

.product-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#market {
    width: 71.9%;
}

#negocios {
    width: 62%;
}

.product-summary {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    height: 38%;
}

.product-summary>.productName {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
}

.product-summary>.price {
    position: absolute;
    left: 40%;
    bottom: 0px;
    font-size: 1.5rem;
}

.price {
    color: #000000;
    margin-top: 10px;
    text-align: left;
    padding: 20px 5px 5px 5px;
    font-size: 1rem;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #02b392;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 9px;
    color: #00FFD1;
    cursor: pointer;
}

.top button:hover {
    color: #000000;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #02b392;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 768px) {
    .product-summary {
        height: 30%;
    }

    .products {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-summary > p {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .btn {
        font-size: 0.9rem;
    }
    .producstOnCart {
        font-size: 0.8rem;
    }
    .products {
        grid-template-columns: 1fr;
    }   
    .product-summary .price {
        display: inline;
        left: 0;
    }
}