body{
    /* background-image: url('/𝘼𝙣𝙞𝙢𝙚\ 𝘼𝙚𝙨𝙩𝙝𝙚𝙩𝙞𝙘𝙨\ on\ Twitter.jpg'); */
    background-image: url('/marcelo-cidrack-S-2D55mMwEw-unsplash.jpg');
    /* background-image: url('/Tìm\ thấy\ ý\ tưởng\ này\ trên\ Pinterest.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.centro{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
}
.Cuadro{
    /* background-image: url('/𝘼𝙣𝙞𝙢𝙚\ 𝘼𝙚𝙨𝙩𝙝𝙚𝙩𝙞𝙘𝙨\ on\ Twitter.jpg'); */
    background-image: url('/marcelo-cidrack-S-2D55mMwEw-unsplash.jpg');
    /* background-image: url('/Tìm\ thấy\ ý\ tưởng\ này\ trên\ Pinterest.jpg'); */
    border-radius: 7%;
    width: 900px;
    height: 10px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px 4px, rgba(0, 0, 0, 0.15) 0px 2px 6px 4px;
}

td{
    /* background-image: url('/𝘼𝙣𝙞𝙢𝙚\ 𝘼𝙚𝙨𝙩𝙝𝙚𝙩𝙞𝙘𝙨\ on\ Twitter.jpg'); */
    /* background-image: url('/marcelo-cidrack-S-2D55mMwEw-unsplash.jpg'); */
    /* background-image: url('/Tìm\ thấy\ ý\ tưởng\ này\ trên\ Pinterest.jpg'); */
    text-align: center;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 1px, rgba(0, 0, 0, 0.15) 0px 1px 3px 2px;
    width: 70px;
    height: 10px;
    font-size: 30px;
    color: rgb(190, 190, 190);
}

.lista{
    font-size: 30px;
    float: right;  
    position: absolute;
    top: 53%;
    left: 100%;
    transform: translate(4%, -60%);
    max-width: 100%;
    text-align: left;
    color: rgb(190, 190, 190);
    text-shadow: 3px 3px 5px black;
}
.lista>li{
    margin: 10px;
}
.title{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: rgb(190, 190, 190);
    text-shadow: 3px 3px 5px rgb(54, 41, 41);;
}